<%- include('partials/header'); %>


<head>
    <title>About</title>
</head>

<div>
    <h2>This is about us page</h2>

    <ul>
        <% mascots.forEach(function(mascot) { %>
          <li>
            <strong><%= mascot.name %></strong>
            representing <%= mascot.organization %>,
            born <%= mascot.birth_year %>
          </li>
        <% }); %>
    </ul>
</div>

<%- include('partials/footer'); %>